*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    
}

:root{
    --color-main: #50b1e4;
    --red-color: red;
}
.show-on-mobi-tablet{
    display: none;
}

.show-on-mobi{
    display: none;
}

@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.slick-arrow{
    font-size: 2rem;
}


button.slick-next.slick-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 2px;
    border-radius: 50%;
    background-color: rgb(255,255,255,0.7);
    outline: none;
    border: 1px solid #555;
    width: 28px;
}

button.slick-prev.slick-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 2px;
    border-radius: 50%;
    background-color: rgb(255,255,255,0.7);
    outline: none;
    border: 1px solid #555;
    width: 28px;
}

.slick-dots{
    display: flex !important;
    justify-content: center;
    margin-top: 10px;
    list-style-type: none;
}

.slick-active button{
    background-color: #67c5c5;
}
.slick-dots button{
    font-size: 0;
    padding: 4px;
    margin: 0 2px;
    border-radius: 50%;
    outline: none;
    border: none;
}